@model KMGames.Web.ViewModel.Developers.DeveloperEditVm

@{
    ViewBag.Title = "DeleteDeveloper";
}


<h3>You are going to delete this developer form:</h3>
<div>

    <hr />
    <dl class="dl-horizontal h5" style="background-color: #1f1f20; color: #dee2e6;">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control mt-3", @disabled = "disabled" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>

        <dd>
            @Html.DropDownListFor(model => model.CityId,Model.Cities, new { @class = "form-control mt-3", @disabled = "disabled" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd>
            @Html.DropDownListFor(model => model.CountryId,Model.Countries, new { @class = "form-control mt-3", @disabled = "disabled" })
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color mt-3">
            <button class="btn btn-sm btn-outline-warning bg-warning bg-opacity-10 col-1 me-2">
                <i class="fa fa-trash-alt"></i>
                Delete
            </button>
            @*<input type="submit" value="Delete" class="btn btn-sm btn-outline-warning bg-warning bg-opacity-10 col-1 me-2" />*@

            <a class="btn btn-sm btn-outline-danger bg-danger bg-opacity-10 col-1" href="@Url.Action($"/Details/{Model.CityId}","Cities")">
                <i class="fa fa-undo"></i>
                Cancel
            </a>
            @*@Html.ActionLink("Cancel", $"/Details/{Model.CityId}", null, new { @class = "btn btn-sm btn-outline-danger bg-danger bg-opacity-10 col-1" })*@
        </div>
    }
</div>
