@using PagedList.Mvc
@model KMGames.Web.ViewModel.Cities.CityFilterVm

@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-between w-75">

    <h2>Cities</h2>
    <a class="btn  btn-outline-light bg-secondary bg-opacity-25" href="@Url.Action("Create","Cities")">
        <i class="fa fa-plus"></i>
        New
    </a>
    @*<p>
            @Html.ActionLink("New", "Create", null, new { @class = "btn btn-outline-light bg-secondary bg-opacity-25" })
        </p>*@

</div>


@using (Html.BeginForm())
{

    <div class="row row-cols-2 d-flex mt-3">
        <div class="container">
            <div>
                <label>Number per page:</label>
            </div>
            <div>
                <select name="PageSize" class="form-select">
                    <option @if ((int)ViewBag.PageSize == 5) { @Html.Raw("selected") } value="5">5</option>
                    <option @if ((int)ViewBag.PageSize == 10) { @Html.Raw("selected") } value="10">10</option>
                    <option @if ((int)ViewBag.PageSize == 15) { @Html.Raw("selected") } value="15">15</option>
                    <option @if ((int)ViewBag.PageSize == 20) { @Html.Raw("selected") } value="20">20</option>
                </select>
            </div>
            <div>
                <button class="btn btn-sm btn-outline-light bg-secondary mt-3" name="PageSize" type="submit">
                    <i class="fa fa-search"></i>
                    Apply
                </button>
            </div>
        </div>
        <div class="container">
            <div>
                <label>
                    @Html.DisplayNameFor(model => model.FilterBy)
                </label>
            </div>
            <div>
                @Html.DropDownListFor(model => model.FilterBy,Model.Countries,"View all", new {@class="form-select"})
            </div>
            <div>
                <button class="btn btn-sm btn-outline-light bg-secondary bg-opacity-10 mt-3" type="submit" name="Filter">
                    <i class="fa fa-filter"></i>
                    Filter
                </button>
            </div>
        </div>
    </div>
}

@if (Model.Cities.Any())
{

    <table class="table w-75" style="color: #dee2e6">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cities.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cities.FirstOrDefault().Country)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            @foreach (var item in Model.Cities)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td align="right">
                        <a class="btn btn-sm btn-outline-success bg-success bg-opacity-10 col-3" href="@Url.Action("Edit","Cities",new { id = item.CityId })">
                            <i class="fa fa-feather-alt"></i>
                            Edit
                        </a>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.CityId }, new { @class = "btn btn-sm btn-outline-success bg-success bg-opacity-10 col-3" })*@

                        <a class="btn btn-sm btn-outline-info bg-primary bg-opacity-10" href="@Url.Action("Details","Cities",new { id = item.CityId })">
                            <i class="fa fa-bars"></i>
                            Details
                        </a>

                        @*@Html.ActionLink("Details", "Details", new { id = item.CityId }, new { @class = "btn btn-sm btn-outline-info bg-primary bg-opacity-25" })*@

                        <a class="btn btn-sm btn-outline-danger bg-danger bg-opacity-10" href="@Url.Action("Delete","Cities",new { id = item.CityId })">
                            <i class="fa fa-trash-alt"></i>
                            Delete
                        </a>
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.CityId }, new { @class = "btn btn-sm btn-outline-danger bg-danger bg-opacity-10" })*@
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <div class="d-flex alert alert-dark align-items-center w-75 " role="alert">
        There's no city yet.
    </div>
}

Página: @(Model.Cities.PageCount < Model.Cities.PageNumber ? 0 : Model.Cities.PageNumber) de: @Model.Cities.PageCount
@Html.PagedListPager(Model.Cities, page => Url.Action("Index", new
{
    page,
    pageSize = ViewBag.PageSize,
    filterBy = Model.FilterBy
}))
