@using PagedList.Mvc
@model PagedList.IPagedList<KMGames.Web.ViewModel.Users.UserListVm>

@{
    ViewBag.Title = "Index";
}

<div class="d-flex w-75 justify-content-between">

    <h2>Users</h2>

    <a class="btn btn-outline-light bg-secondary bg-opacity-25" href="@Url.Action("Create","Users")">
        <i class="fa fa-plus"></i>
        New
    </a>
</div>

@using (Html.BeginForm())
{

    <div class="row mt-3">
        <div class="col-auto">
            <label>Number per page:</label>
        </div>
        <div class="col-auto">
            <select name="PageSize" class="form-select">
                <option @if ((int)ViewBag.PageSize == 5) { @Html.Raw("selected") } value="5">5</option>
                <option @if ((int)ViewBag.PageSize == 10) { @Html.Raw("selected") } value="10">10</option>
                <option @if ((int)ViewBag.PageSize == 15) { @Html.Raw("selected") } value="15">15</option>
                <option @if ((int)ViewBag.PageSize == 20) { @Html.Raw("selected") } value="20">20</option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-outline-light bg-secondary" type="submit">
                <i class="fa fa-search"></i>
                Apply
            </button>
        </div>
    </div>
}


@if (Model.Any())
{
    <table class="table w-75" style="background-color: #1f1f20; color: #dee2e6;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().NickName)
                </th>                                  
                <th>                                   
                    @Html.DisplayNameFor(model => model.FirstOrDefault().CreationDate)
                </th>                                  
                <th>                                   
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Country)
                </th>                                  
                <th>                                   
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.NickName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td align="right">
                        <a class="btn btn-sm btn-outline-success bg-success bg-opacity-10 col-3" href="@Url.Action("Edit", "Users", new {id = item.UserId})">
                            <i class="fa fa-feather-alt"></i>
                            Edit
                        </a>
                        <a class="btn btn-sm btn-outline-info bg-primary bg-opacity-10 col-4" href="@Url.Action("Details", "Users", new {id = item.UserId})">
                            <i class="fa fa-bars"></i>
                            Details
                        </a>
                        <a class="btn btn-sm btn-outline-danger bg-danger bg-opacity-10 col-4" href="@Url.Action("Delete", "Users", new {id = item.UserId})">
                            <i class="fa fa-trash-alt"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-dark d-flex justify-content-center w-75 mt-3" role="alert">
        There's no users yet.
    </div>
}

Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    pageSize = ViewBag.PageSize
}))
