@model KMGames.Web.ViewModel.Games.GameListVm

@{
    ViewBag.Title = "Delete";
}

@Html.HiddenFor(model => model.GameId)
@Html.HiddenFor(model => model.RowVersion)

<h3>You are going to delete this game:</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Developer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developer)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color mt-3">

            <button class="btn btn-sm btn-outline-warning bg-warning bg-opacity-10 col-1 me-2" type="submit">
                <i class="fa fa-trash-alt"></i>
                Delete
            </button>
            @*<input type="submit" value="Delete" class="btn btn-sm btn-outline-warning bg-warning bg-opacity-10 col-1 me-2" />*@

            <a class="btn btn-sm btn-outline-danger bg-danger bg-opacity-10 col-1" href="@Url.Action($"Index","Games")">
                <i class="fa fa-undo"></i>
                Cancel
            </a>
            @*@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-sm btn-outline-danger bg-danger bg-opacity-10 col-1" })*@
        </div>
    }
</div>
