@using PagedList.Mvc
@model PagedList.IPagedList<KMGames.Web.ViewModel.Country.CountryListVm>

@{
    ViewBag.Title = "Index";
}


@*@if (TempData["Msg"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show w-75 bg-opacity-100" role="alert">
            @TempData["Msg"].ToString()
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }*@

<div class="d-flex justify-content-between w-75">

    <h2>Countries</h2>

    <a class="btn btn-outline-light bg-opacity-25 bg-secondary" href="@Url.Action("Create","Countries")">
        <i class="fa fa-plus"></i>
        New
    </a>

    @*<p>
            @Html.ActionLink("New", "Create", null, new { @class = "btn btn-outline-light bg-opacity-25 bg-secondary" })
        </p>*@

</div>


@using (Html.BeginForm())
{

    <div class="row mt-3">
        <div class="col-auto">
            <label>Number per page:</label>
        </div>
        <div class="col-auto">
            <select name="PageSize" class="form-select">
                <option @if ((int)ViewBag.PageSize == 5) { @Html.Raw("selected") } value="5">5</option>
                <option @if ((int)ViewBag.PageSize == 10) { @Html.Raw("selected") } value="10">10</option>
                <option @if ((int)ViewBag.PageSize == 15) { @Html.Raw("selected") } value="15">15</option>
                <option @if ((int)ViewBag.PageSize == 20) { @Html.Raw("selected") } value="20">20</option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-sm btn-outline-light bg-secondary" type="submit">
                <i class="fa fa-search"></i>
                Apply
            </button>
        </div>
    </div>
}

@if (Model.Any())
{
    <table class="table w-75" style="color: #dee2e6">
        <thead>
            <tr>
                <th class="w-50">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
                <th class="w-25"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td align="right">
                        <a class="btn btn-sm btn-outline-success bg-success bg-opacity-10 col-4" href="@Url.Action("Edit","Countries",new { id = item.CountryId })">
                            <i class="fa fa-feather-alt"></i>
                            Edit
                        </a>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.CountryId }, new { @class = "btn btn-sm btn-outline-success bg-opacity-10 bg-info col-3" })*@

                        <a class="btn btn-sm btn-outline-info bg-opacity-10 bg-primary" href="@Url.Action("Details","Countries",new { id = item.CountryId })">
                            <i class="fa fa-bars"></i>
                            Details
                        </a>
                        @*@Html.ActionLink("Details", "Details", new { id = item.CountryId }, new { @class = "btn btn-sm btn-outline-info bg-opacity-25 bg-primary" })*@

                        <a class="btn btn-sm btn-outline-danger bg-opacity-10 bg-danger" href="@Url.Action("Delete","Countries",new { id = item.CountryId })">
                            <i class="fa fa-trash-alt"></i>
                            Delete
                        </a>
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.CountryId }, new { @class = "btn btn-sm btn-outline-danger bg-opacity-10 bg-danger" })*@
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <div class="alert alert-dark d-flex align-items-center w-75" role="alert">
        There's no country yet.
    </div>
}

Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    pageSize = ViewBag.PageSize
}))
